/* General */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    height: 100vh;
    position: relative;
}

/* Buttons */
.agregar_btn {
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    font-size: 35px;
    line-height: 1.1;
    margin-left: 10px;
    transition: transform 0.1s;
    vertical-align: middle;
}

.agregar_btn.clicked {
    transform: scale(0.9);
}

.agregar_btn:focus {
    outline: none;
}

/* Clearfix */
.limpiarEstilos::after {
    clear: both;
    content: "";
    display: table;
}

/* Error */
.error {
    background-color: #FF5049;
    color: white;
    margin: 0 auto;
    margin-top: 5px;
    padding: 20px;
    text-align: center;
    width: 50%;
}

/* Floats */
.derecha { float: right; }

/* Images */
.crear {
    width: 50px;
}

.eliminar {
    width: 20px;
}

/* Colors */
.rojo { color: #FF5049 !important; }
.rojofocus:focus { border: 1px solid #FF5049 !important; }

/* Cabecero */
.cabecero {
    height: 40vh;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #fff;
    background: url(../imgs/fondo.png), #7b4397;
    background: url(../imgs/fondo.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(../imgs/fondo.png), linear-gradient(to left, #7b4397, #dc2430)
}

/* Presupuesto */
.presupuesto {
    color: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.presupuesto_titulo {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}

.presupuesto_valor {
    font-size: 46px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-align: center;
}

.presupuesto_ingreso,
.presupuesto_egreso {
    padding: 12px;
    text-transform: uppercase;
}

.presupuesto_ingreso {
    background-color: #28B9B5;
    margin-bottom: 10px;
}

.presupuesto_egreso {
    background-color: #FF5049;
}

.presupuesto_ingreso--texto,
.presupuesto_egreso--texto {
    color: #fff;
    float: left;
    font-size: 13px;
    margin-top: 2px;
}

.presupuesto_ingreso--valor,
.presupuesto_egreso--valor {
    float: left;
    letter-spacing: 1px;
}

.presupuesto_ingreso--porcentaje,
.presupuesto_egreso--porcentaje {
    border-radius: 3px;
    float: left;
    font-size: 11px;
    margin-left: 10px;
    padding: 3px 0;
    width: 34px;
}

.presupuesto_egreso--porcentaje {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

/* Agregar */
.agregar {
    background-color: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    padding: 14px;
}

.agregar_contenedor {
    margin: 0 auto;
    text-align: center;
}

.agregar_tipo,
.agregar_descripcion,
.agregar_valor {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    transition: border 0.3s;
}

.agregar_tipo:focus,
.agregar_descripcion:focus,
.agregar_valor:focus {
    border: 1px solid #28B9B5;
    outline: none;
}

.agregar_tipo {
    color: inherit;
    font-weight: 300;
    height: 44px;
    font-size: 18px;
    margin-right: 10px;
    width: 55px;
}

.agregar_descripcion { width: 400px; }
.agregar_valor { width: 100px; }

.agregar_descripcion,
.agregar_valor {
    border-radius: 5px;
    margin-right: 10px;
    padding: 12px 15px;
}

/* Contenedor */
.contenedor {
    display: flex;
    gap: 50px;
    margin: 60px auto;
    padding: 0 5%;
    width: 100vw;
}

.columna-ingresos,
.columna-gastos {
    float: left;
    width: 50%;
}

@media screen and (max-width: 900px) {
    .contenedor {
        flex-direction: column;
        width: 100%;
    }

    .columna-gastos,
    .columna-ingresos {
        width: 100%;
    }

    body {
        margin: 0;
    }
}

/* Ingreso y Egreso */
.ingreso,
.egreso {
    float: left;
    width: 370px;
}

.ingreso { margin-right: 70px; }

h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.ingreso_titulo { color: #28B9B5; }
.egreso_titulo { color: #FF5049; }

/* Elemento */
.elemento {
    border-bottom: 1px solid #e7e7e7;
    padding: 13px;
    height: 45px;
}

.elemento:first-child { border-top: 1px solid #e7e7e7; }
.elemento:nth-child(even) { background-color: #f7f7f7; }

.elemento_descripcion { float: left; }
.elemento_valor { float: left; transition: transform 0.3s; }
.elemento_porcentaje {
    background-color: #FFDAD9;
    border-radius: 3px;
    float: left;
    font-size: 11px;
    margin-left: 20px;
    padding: 3px;
    text-align: center;
    transition: transform 0.3s;
    width: 45px;
}

.ingreso .elemento_valor,
.ingreso .elemento_eliminar--btn {
    color: #28B9B5;
}

.egreso .elemento_valor,
.egreso .elemento_porcentaje,
.egreso .elemento_eliminar--btn {
    color: #FF5049;
}

/* Elemento eliminar */
.elemento_eliminar { float: left; }

.elemento_eliminar--btn {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    line-height: 1;
    vertical-align: middle;
    display: none;
}

.elemento_eliminar--btn:focus { outline: none; }
.elemento_eliminar--btn:active { transform: translateY(2px); }

.elemento:hover .elemento_eliminar--btn { display: block; }
.elemento:hover .elemento_valor { transform: translateX(-20px); }
.elemento:hover .elemento_porcentaje { transform: translateX(-20px); }

/* Tipo Selector */
.tipo-selector { display: inline-flex; }

.tipo-option {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 30px;
    margin: 2px;
    padding: 5px 10px;
    width: 30px;
}

.tipo-option.selected {
    background-color: white;
    border: 2px solid #28B9B5;
    color: gray;
}

/* Agregar btn */
.agregar_btn {
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    font-size: 35px;
    line-height: 1.1;
    margin-left: 10px;
    transition: transform 0.1s;
}

.agregar_btn:focus { outline: none; }
.agregar_btn:active { transform: translateY(2px); }
.agregar_btn.clicked { transform: scale(0.9); }


